/devices/.vs
/devices/*.cogui
/devices/*.comarker
/devices/*.out
/devices/ATM328P.componentinfo.xml
/devices/A1Cn12
/devices/A1En12
/devices/A1Sn12
/devices/A1Sn10
/devices/S2Cn13
/devices/S2EC13
/devices/S2En13
/devices/A1SC12
/devices/*.atsuo
/devices/A1Rn11
/devices/A1SR11
