/Wireless/Debug/*
/Wireless/Gate_JN/*
/Wireless/Gate_PS/*
/Wireless/Gate_UN/*
/Wireless/Node_JN/*
/Wireless/Node_PS/*
/Wireless/Node_UN/*
/Wireless/TestRF_JN/*
/Wireless/TestRF_PS/*
/Wireless/TestRF_UN/*
TcfTransactionLog.csv
/Wireless/Devices.atsuo
/Wireless/*.atsuo
